.banner {
    height: 180px;
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
}

.banner>img {
    height: 60px;
    margin-left: 20px;
    margin-top: 90px;
}

.grey {
    color: grey;
    font-weight: bold;
}

a {
    color: lightgreen;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-bottom: 0px;
}

footer h4 {
    position: absolute;
    font-size: 26px;
    color: white;
    margin-top: 16px;
    margin-left: 20px;
}

.data {
    font-size: 12px;
}

.didascalia {
    font-size: 13px;
}

.evidenziato {
    background-color: yellow;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    background-color: rgb(59, 191, 235);
    color: white;
}

td {
    text-align: center;
}

.lightblue {
    background-color: lightblue;
}

.white {
    background-color: white;
}

.pic1 {
    position: relative;
    width: 300px;
    height: 270px;
    background-color: red;
    margin-bottom: 20px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    background-position: center;
}

.pic2 {
    position: relative;
    width: 300px;
    height: 270px;
    background-color: rgb(106, 219, 72);
    background-image: url(../img/graph.jpg);
    background-size: cover;
    background-position: center;
}
